@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* varibles initialization */
:root {
    --hover-clr: rgb(238, 239, 245);
    --bg-clr: #fafafa;
    --txt-clr: 	rgb(70, 72, 90);
    --br-clr: rgb(198, 200, 222);
    --active-clr: cyan;
    --fn-small: 1rem;
    --fn-normal: 1.2rem;
    --fn-large: 2rem;
}

/* Dark Mode colors */
.dark-mode {
    --hover-clr: rgb(59, 28, 50);
    --bg-clr: #1A1A1D;
    --txt-clr: 	rgb(166, 77, 121);
    --br-clr: rgb(198, 200, 222);
    --active-clr: cyan;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

span {
    font-size: var(--fn-small);
    line-height: 1.2rem;
}

h1 {
    font-size: var(--fn-large);
}



#sideBar span {
    font-size: var(--fn-normal);
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-clr);
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    color: var(--txt-clr);
}

#sideBar {
    padding: 1rem;
    min-height: 100vh;
    width: 250px;
    border-right: 2px solid var(--br-clr);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#sideBar > ul {
    list-style: none;
    color: var(--txt-clr);
    position: sticky;
    /* top: 0; */
    /* align-self: start; */
}

#sideBar {
    flex-shrink: 0;
    color: var(--txt-clr);
}

#sideBar > ul > li.active a {
    color: var(--active-clr);

    svg {
        fill: var(--active-clr);
    }
}

#logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
    font-weight: bold;
}

#logo button{
    display: flex;
    justify-content: center;
}

#sideBar a, #logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .85rem;
    gap: 1em;
}


section {
    padding: 1rem;
}

#sideBar a:hover{
    background-color: var(--hover-clr);
}

#toggle_btn {
    all: unset;
    cursor: pointer;
}

.content {
    border: 2px solid var(--br-clr);
    padding: 1rem;
    border-radius: 1rem;
}

/* styling code editor*/
.wrapper{
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.wrapper label {
    width: fit-content;
    max-width: 40rem;
    width: 100%;
    background-color: var(--hover-clr);
}

/* using flex to distribute space evenly between editor and viewere */
.code, .viewer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
}

/* this stops weird behaviour when we resize code editor text-area */
.code > div label, textarea {
    display: inline-block;
}

.viewer label {
    width: fit-content;
    max-width: 40rem;
    width: 100%;
    background-color: var(--hover-clr);
}

.code label i, .viewer label i  {
    padding-inline: .2rem;
}

.code textarea {
    max-width: 40rem;
    width: 100%;
    min-height: 12rem;
    outline: 0;
    border: 0;
    padding: 1rem;
}



#output {
    width: 100%;
    height: 100%;
    outline: 0;
    background-color: #fff;
    border: 0;
}